@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-BlackItalic.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-Bold.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-Black.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-LightItalic.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-SemiBold.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-Italic.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-Regular.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-Light.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-ExtraLight.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-BoldItalic.woff2') format('woff2'),
        url('../fonts/Spectral-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-ExtraBold.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-Bold.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-ExtraLight.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-Italic.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-Light.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-Regular.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-LightItalic.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-Medium.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-MediumItalic.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-SemiBold.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

*{
    box-sizing:border-box;
}

body{
    background-color: #F0F4FA;
   
}
/* font selectors*/
h1 {
    font-family: Spectral, Helvetica, sans-serif;
    font-weight: 600;
    font-style: bold; 
    color: #7a7a7a;
    text-align: center;
}
h2{
    font-family: Spectral, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;  
    color: #7a7a7a;
    text-align: center;

}

h3{
    font-family: Spectral, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal; 
    color: #7a7a7a;
    text-align: center;
}
h4{
    font-family: "Spectral", Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal; 
    color: #7a7a7a;
    text-align: left; 
}
p{
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.25rem;
    color: #7a7a7a;
    text-align: left;
    margin: 1rem 1rem;
}
figcaption{
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25rem;
    color: #7a7a7a;  
    text-align: left;
    padding: 1rem .2rem;
    font-size: 20px;
    line-height: 1.9rem;
}
a{
    text-decoration: none;
    color: #fafafa;
}
/*image selectors */
img{
    height: auto;
    width: 100%;
}
.headerimage{
    margin-top: 4rem;
}

.projectimage{
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.4);
    border-radius: 3%;
}
figure{
    margin: 1rem;
}
 figure.border{
margin: 2rem;
 }
.project{
 margin: .5rem auto 3rem; 

}

/* home page selectors */

hr{
    clear: left;
  margin: 1rem 5rem;  
}
.mainimage{
    width: 100%;
    margin: 0rem;
    border: none;
}
.headertext p {
    margin: 0 auto;
    text-align: left;
    margin-left: 1rem;
    color: #fafafa;
}
.headertext h1{
    margin: 0 auto;
    text-align: left;
    margin-left: 1rem;
    font-weight: 500;
    color: #fafafa;
}
.headertext{
width: 100%;
position: absolute;
top: 12rem;
}
.latest{
    text-align: center;
    margin: 1rem 1rem;
}

/* project page selectors*/

.projheader{
    text-align: center;
    margin: 4rem auto 0;
}

 /*about me/blog selctors*/
 .blog{
    text-align: center;
    color: #fafafa;
    font-style: italic;
    font-weight: 400;
    margin: 0 2rem;
}
.blogwrapper{
    position: absolute;
    top: 13rem;

}
 .about{
     text-align: center;
     margin: 2rem auto 0;
 }
 .list{
    list-style-type: none;
    margin: 0;
    padding: 0;
 }

 .experience{
     margin: 1rem 1rem 1.5rem;
 }
.resume{
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-weight: 600;
    font-style: italic;
    line-height: 1.25rem;
    color: #7a7a7a;
    text-align: left;  
}
 /* Casestudy selectors*/

.section{
text-align: center;
}
ul{
    list-style-type: circle;
    margin: 0 1rem;
    padding: 0 0 1rem 1.5rem;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.25rem;
    color: #7a7a7a;
}
/* navaigation selectors */

nav{
    text-align: center;
}
.projects{
    color: #7a7a7a
}
.navigation{
    text-align: center;
}
.navbar{
    width: 100%;
    position: absolute;
    top: .25rem;
}

.left1 {
    float:left; 
    width:25%; 
}
.left2 {
 float: left;
 width: 25%;
}
.center3{
    float: left;
    width:25%;
    
}
.right4{
    float:right;
    width:25%;
}

/*footer selectors */
footer{
    margin-bottom: -4rem;
}
.social {
    display: block;
    text-align: center;
    float:left;  
    margin: 0 0rem;
    width: 33%; 
}

.socialmedia{
    width: 30px;
    height: 30px;
}
.email{
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    line-height: 1.25rem;
    color: #fafafa;  
    margin: 0;
}
/* positioning footer */
.socialbar{
    width: 100%;  
    height: auto;
    position: relative;
    top: 10.5rem;
    padding: 0 6rem;   
}
.emailwrapper{
    width: 100%;
    position: relative;
    top: 11rem;
    margin-bottom: -50px;
}
