@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-BlackItalic.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-Bold.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-Black.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-LightItalic.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-SemiBold.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-Italic.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-Regular.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-Light.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-ExtraLight.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-BoldItalic.woff2') format('woff2'),
        url('../fonts/Spectral-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-ExtraBold.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-Bold.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-ExtraLight.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-Italic.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-Light.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-Regular.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-LightItalic.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-Medium.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-MediumItalic.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-SemiBold.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/Spectral-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/spectral/Spectral-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

*{
    box-sizing:border-box;


}

body{
    background-color: #F0F4FA;
}
/* font selectors*/
h1 {
    font-family: Spectral, Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal; 
    color: #7a7a7a;
    text-align: center;
    margin: 1rem auto;
}
h2{
    font-family: Spectral, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;  
    color: #7a7a7a;
    text-align: center;
    margin-bottom: .5rem;
}

h3{
    font-family: Spectral, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal; 
    color: #7a7a7a;
    text-align: center;
}
h4{
    font-family: "Spectral", Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal; 
    color: #7a7a7a;
    text-align: left; 
}
p{
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25rem;
    color: #7a7a7a;  
    text-align: left;
    font-size: 20px;
    line-height: 1.9rem;
}
figcaption{
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25rem;
    color: #7a7a7a;  
    text-align: left;
    padding: 1rem .2rem;
    font-size: 20px;
    line-height: 1.9rem;
}
/*global selectors */
.navborder{ /*separator line */
    background-color: #fafafa;
    height: 1.5px;
    margin: .5rem auto;
    width: 10%;
    border-radius: 20%;
}
.pageborder{ /*separator line */
    background-color: #7a7a7a;
    height: 2px;
    margin: .5rem auto;
    width: 50%;
    border-radius: 20%;
}
a{
    text-decoration: none;
    color: #fafafa;
}
br{
    margin: .5rem auto;
}
.header{
        text-align: center;
        margin: 1rem auto;
        font-size: 36px;
    }


/* navigation selectors */

.navigation{
    position: absolute;
    overflow: auto;
    width: 100%;
    list-style-type: none;
    padding: 1rem .5rem 0;
    margin: 0 auto 1rem;
}

.menuicon{
    float: right;
    width: 50px;
    height:40px;
    
}
/*image selectors */
img{
    height: auto;
    width: 100%;
}
iframe{
    height: 300px;
    width: 100%;
}

.projectimage{
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.4);
    border-radius: 3%;
}
.lightshadow{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);  
    border-radius: 3%; 
}
.marginfix{
    margin: 1.5rem auto 0;
    border-radius: 3%;
}
/* image positioning */    
figure{
    margin: 1rem 0 1.5rem;
}
 .border{
margin: 2rem;
 }

.project{
 margin: 0 auto 3rem; 
}

/* home page selectors */

.mainimage{
    width: 100%;
    margin: 0rem;
    border: none;
}
.headertext p {
    margin: 0 auto;
    text-align: left;
    margin-left: 1rem;
    color: #fafafa;
}
.headertext h1{
    margin: 0 auto;
    text-align: left;
    margin-left: 1rem;
    font-weight: 500;
    color: #fafafa;
}
.headertext{
width: 100%;
position: absolute;
top: 12rem;
}


/* project page selectors*/


 /*about me/blog selctors*/
 .blog{
    text-align: center;
    color: #fafafa;
    font-style: italic;
    font-weight: 400;
    margin: 0;
    font-size: 30px;
}
.blogwrapper{
    position: relative;
    width: 100%;
    bottom: 15rem;
    

}
 .about{
     text-align: center;
     margin: 2rem auto 1rem;
 }
 .list{
    list-style-type: none;
    margin: 0;
    padding: 0;
 }

 .experience{
     margin: 1rem 1rem 1.5rem;
     font-size: 20px;
 }
.resume{
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-weight: 600;
    font-style: italic;
    line-height: 1.25rem;
    color: #7a7a7a;
    text-align: left;  
    margin: 0 auto 3rem;
    padding: 1rem 1.25rem;
}

/* resume selectors*/
.resumetitle{
    font-family: Spectral, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 35px;
    font-style: normal; 
    color: #7a7a7a;
    text-align: center;
    margin: 5rem auto 0rem;
}
.subheader{
    margin: 0.5rem auto;
    font-size: 22px;
    font-weight: 300;
}

.resumesection{
margin: 2rem auto 0;
padding: 0 1rem; 

}
.resumesectionheader{
    display: block;
    text-align: left;
    border-bottom: 2px solid #7a7a7a;
}
.resumetext{
    padding: 1rem 1rem;
    margin: 0 auto;
    font-weight: 600; 
    padding: .5rem 0 0;
}
.resumelist{
    list-style: none;
    padding: 0;
}
.resumelistitem{
    margin-top: .5rem;
}
.circleresumelist{
    padding: 0 0 0 1rem;
    
    
}
.circleresumelistitem{
    list-style-type: circle;
    margin-top: .5rem;
}
/*footer selectors */

footer{
    
    width: 100%;
    position: relative;
    top: 22rem;
    z-index: 2;
    margin-top: -20rem;
}
.footerimg{
    position: relative;
    top: 1.5rem; 
}
.socialmedia{
    width: 30px;
    height: 30px;
    
}
.overflow{
    overflow: auto;
    list-style-type: none;
    padding: 0 6rem;
    margin: 2.5rem auto 0;
    text-align:center;
}
.footericons{
    float: left;
    width: 33.3%;
    
}
.navmenu{
    list-style-type: none;
    margin: 0rem auto;
    padding: 0;
    text-align: center;
    font-family: 'Spectral', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    line-height: 1.75rem;
    color: #fafafa;   
}
.email{
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    line-height: 1.25rem;
    color: #fafafa;  
    margin: 1.5rem auto 0;
}
/* casestudy selectors */

.contentheader{
    margin-top: 3rem;
    clear: both;
}
section{
    background-color: #ffffff;
    margin: 0 auto 4rem;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.4);
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}
.photogallery{
    border-radius: 0;
    padding-bottom: .5rem;
}
.title{
    font-family: Spectral, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal; 
    color: #7a7a7a;
    text-align: center;
    margin: 5rem auto 2rem;
}

/* controls parts in casestudies*/
.section{
    text-align: center;
    margin: .5rem auto;
}

ul{
list-style-type: circle;
font-family: 'Source Sans Pro', Helvetica, sans-serif;
font-weight: 400;
font-style: normal;
line-height: 1.25rem;
color: #7a7a7a;  
text-align: left;
font-size: 20px;
line-height: 1.9rem;
padding-bottom: 1rem;
margin-top: 0;
}
.casestudytext{
    padding: 1rem 1rem;
    margin-top: 0;
}
.secondparagraph{
    padding: 0 1rem 1rem;
    margin-top: 0;
}
.paddingheader{
    padding-top: 1.5rem;
}